/*This keeps white space from showing up on the right side.*/
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

h3.logo {
    color: white;
    font-size: 30px;
    font-family: 'Ultra', serif;
    font-weight: lighter;
    text-align: center;
}
/*Adds padding for searches on left and right.*/
#tickername-start-end{
    padding-left: 80px;
    padding-right: 80px;
}

/*Makes Net Worth amount larger*/
#net-worth-circle-text{
    font-size: 20px;
}

.col-md-4.crypto{
    padding-left: 80px;
    padding-right: 80px;
}

div.col-sm-6.amount{
    padding-right: 80px;
    padding-left: 80px;
}

/*This is the top header which holds the anchor tags and will hold the logo.*/
header{
    height: auto;
    background-color: #F7B733;
}

/*Here's the anchor tags in the top. We can change what's showing up here, I just used
those as place holders.*/
a{
    display: none;
}

img{
    margin-top: 20px;
}


/*Styling for "Let's look up some prices."*/
h1.main{
    font-weight: 800;
    color: white;
    text-align: center;
    font-size: 40px;
    background-color: #F7B733;
    font-family: 'Lato', sans-serif;
    padding-bottom: 10%;
}

/*First box.*/
.one{
    background-color: #F7B733;
    height: auto;
    text-align: center;
    padding-bottom: 60%;
    font-family: 'Lato', sans-serif;

}

/*Second box.*/
.two{
    background-color: #4ABDAC;
    height: auto;
    font-family: 'Lato', sans-serif;
}

/*Andrew*/
.header1 {
   text-align: center;
   color: white;
   border-radius: 50%;
   background-color: #4ABDAC ;
   font-size: 40px;

}
/*hk start  */
.three{
    background-color: #2461BF;
    height: auto;
    padding-top: 2%;
    font-weight: 800;
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    
}

h4 {
   text-align: center;
   color: white;
   font-weight: 800;
   font-size: 20px;
   float: bottom;
}


.left {
   color: white;
   font-weight: 800;  
   text-align: center;
   font-size: 1.5em;
}

.right {
   color: white;
   font-weight: 800;
   text-align: center;
   font-size: 1.5em;
   
  
}


/*Third box.*/

#image-pg3{
    display: flex;
    justify-content: center;
    /* align-content: center; */
}
#money-bags{
    display: none;
}
#networth-circle{
    display: flex;
    justify-content: center;
}
/* Main Container -  this controls the size of the circle */
.circle_container
{
	width : 200px;
	height : 200px;
	margin : 10%;
	padding : 0;
	/* border : 1px solid red;  */
}

/* Circle Main draws the actual circle */
.circle_main
{
	width : 100%;
	height : 100%;
	border-radius : 50%;
	border : 2px solid black;	/* can alter thickness and colour of circle on this line */
	margin : 0;
	padding : 0;
}

/* Circle Text Container - constrains text area to within the circle */
.circle_text_container
{
	/* area constraints */
	width : 70%;
	height : 70%;
	max-width : 70%;
	max-height : 70%;
	margin : 0;
	padding : 0;

	/* some position nudging to center the text area */
	position : relative;
	left : 15%;
	top : 15%;
	
	/* preserve 3d prevents blurring sometimes caused by the text centering in the next class */
	transform-style : preserve-3d;
	
	/*border : 1px solid green;*/
}

/* Circle Text - the appearance of the text within the circle plus vertical centering */
.circle_text
{
	/* change font/size/etc here */
    /*////////////////////////////////////////*/
	font: 20px 'Lato', sans-serif;	
	text-align : center;
	
	/* vertical centering technique */
	position : relative;
	top : 50%;
	transform : translateY(-50%);
}
/*HK -end  */

/*Fourth box.*/
.four{
    background-color: #4D20A4;
    height: auto;
    padding-top: 2%;
    text-align: left;
    font-weight: 800;
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

/*Fifth box.*/
.five{
    background-color: #DFDCE3;
    height: auto;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 300px;
}

/*Lorem Ipsum underneath "Let's look up some prices." Andrew added a pOne class here.*/
.pOne{
    display: none;
}

/*Styling for the NASDAQ and CRYPTO headers.*/
h2{
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Lato', sans-serif;

}

#coin-net-worth-circle-text{
    font-size: 20px;
}

.col-xs-6 col-md-4 inline{
    display: inline-block;
}

/*Styling for the top button.*/
.top-button .btn {
    background-color: #FC4A1A;
    color: white;
    font-weight: 800;
    border-radius: 25px;
    padding: 15px;
    font-family: 'Lato', sans-serif;
    

}

.bottom-button .btn {
    background-color: #FC4A1A;
    color: white;
    font-weight: 800;
    border-radius: 25px;
    padding: 15px;
    font-family: 'Lato', sans-serif;
}

/*Styling for the button in the third box.*/
.third-button .btn{
    background-color: #FAA614;
    color: white;
    font-weight: 800;
    border-radius: 25px;
    padding: 15px;
    margin-left: 40%;
    margin-top: 2%;
    font-family: 'Lato', sans-serif;
}

#coin-net-worth-circle-text{}

/*Styling for the button in the fourth div.*/
.fourth-button .btn{
    background-color: #FAA614;
    color: white;
    font-weight: 800;
    border-radius: 25px;
    padding: 15px;
    margin-left: 40%;
    margin-top: 2%;
    font-family: 'Lato', sans-serif;

}

/*Styling for inputs in the NASDAQ and CRYPTO sections.*/
.col-sm-3{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    text-align: center;

}

/*Styling for the amount section.*/
.col-sm-6{
    text-align: center;
    font-family: 'Lato', sans-serif;
}


/*This needs to stay at the bottom of the page or it will overwrite the entire CSS.*/

a:hover {
    color: white;
    text-decoration: none;
}

/*Animations: for main page.*/
h1.main {
  animation-duration: 4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


@media only screen and (min-width: 1000px){
h3.logo {
    font-size: 50px;
    padding-top: 10px;
    margin-right: 10px;
    display: block;
    float: left;
}

.fourth-button .btn{
    margin-left: 47%;
    text-align: center;
}

/*HK start Monday  */
#pg4-3-boxs{
    text-align: center;
}
#twitter-handle{
    text-align: center;
}

#coin-img-div{
    display: flex;
    justify-content: center;
}
#coin-img{
    
    height: 60%;
    width: 60%;
}

/*HK end Monday  */
/*Resets padding.*/
#tickername-start-end{
    padding-left: 0px;
    padding-right: 0px;
}

.col-md-4.crypto{
    padding-left: 0px;
    padding-right: 0px;
}

/*Makes Net Worth amount larger. NEED TO CHANGE THIS!!!!!!*/
#net-worth-circle-text{
    font-size: 20px;
}

/*Resets amount padding.*/
div.col-sm-6.amount{
    padding-right: 0px;
    padding-left: 0px;
}
/*Here's the anchor tags in the top. We can change what's showing up here, I just used
those as place holders.*/
a{
    font-weight: 900;
    color: #FC4A1A;
    float: right;
    font-size: 24px;
    display: inline;
    margin: 10px;
    margin-top: 50px;
    line-height: 38px;
    font-style: bold;
    font-family: 'Lato', sans-serif;
}


/*Styling for "Let's look up some prices."*/
h1.main{
    font-size: 100px;
    padding-bottom: 0%;
}

.one{
    padding-bottom: 8%;

}


h4 {
   text-align: center;
   color: white;
   font-size: 2em;
}

.right {
   color: white;
   font-weight: 800;
   text-align: center;
   font-size: 1.5em;
   
  
}

/*Andrew*/
.header1 {
   text-align: right;
   font-weight: 800;
   font-family: 'Lato', sans-serif;
   color: white;
   border-radius: 50%;
   background-color: #4ABDAC ;
   font-size: 100px;
   margin-right: 40px;

}

/*Third box.*/
/*hk start  */
.three{
    background-color: #2461BF;
    height: auto;
    padding-top: 2%;
    text-align: left;
    font-weight: 800;
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    
}
#image-pg3{
    display: flex;
    justify-content: center;
    /* align-content: center; */
}
#money-bags{
    /* clear: both; */
    height: 60%;
    width: 60%;
    display: inline-block;
}
#networth-circle{
    display: flex;
    justify-content: center;
}



/* Circle Text - the appearance of the text within the circle plus vertical centering */
.circle_text
{
	/* change font/size/etc here */
    /*////////////////////////////////////////*/
	font: 11px;
	
	/* vertical centering technique */
	position : relative;
	top : 50%;
	transform : translateY(-50%);
}
/*HK -end  */

/*Lorem Ipsum underneath "Let's look up some prices." Andrew added a pOne class here.*/
.pOne{
    font-weight: 800;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
    display: inline-block;
}

/*Styling for the NASDAQ and CRYPTO headers.*/
h2{
    text-align: right;
    font-size: 100px;
    margin-right: 40px;
}

/*Styling for the button in the third box.*/
.third-button .btn{
    margin-left: 47%;
    text-align: center;
}

/*Styling for the amount section.*/
.col-sm-6{
    margin-left: 25%;
}

/*This needs to stay at the bottom of the page or it will overwrite the entire CSS.*/
a:hover {
    color: white;
    text-decoration: none;
}